.BackButton {
    position: absolute;
    background: #1D1E1C url("/public/back_button.png") 50%/cover no-repeat;
    border: none;
    border-radius: 50%;
    height: 40px;
    left: 4%;
    outline: none;
    top: 8%;
    width: 40px;
    z-index: 5;
}

.BrandLogo {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 2.6%;
    top: 40%;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    z-index: 5;
}


.SplashImage {
    position: absolute;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: top;
    background: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 100px;
}

.Box {
    position: absolute;
    width: 100%;
    height: 45.7%;
    left: 0px;
    top: 0px;
}

.DayCountdown {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 69.3%;
    top: 40.3%;
    background: #1D1E1C;
    border-radius: 25px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    z-index: 5;
}